@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.bg-primary {
  @apply bg-white dark:bg-slate-800
}

footer {
  @apply text-gray-600 dark:text-white
}

.btn-dark {
  @apply text-gray-600 dark:text-white
}

.project-card {
  @apply flex flex-col m-3 rounded-xl w-full
          transition duration-300 transform border border-gray-300
          hover:scale-105
          hover:shadow-lg
          dark:border-gray-200/50
          dark:hover:shadow-gray-400/40

          hover:text-blue-600
}

.tag-gap {
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}
.tag_orange {
  color: rgb(73, 41, 14);
  background: rgb(250, 222, 201);
}
.tag_green {
  color: rgb(28, 56, 41);
  background: rgb(219, 237, 219);
}
.tag_blue {
  color: rgb(24, 51, 71);
  background: rgb(211, 229, 239);
}
.tag_purple {
  color: rgb(65, 36, 84);
  background: rgb(232, 222, 238);
}
.tag_gray {
  color: rgb(50, 48, 44);
  background: rgb(227, 226, 224);
  
  @apply ring-gray-500/10 bg-gray-50 text-gray-600 
}
.tag_pink {
  color: rgb(93, 23, 21);
  background: rgb(255, 226, 221);
}
.tag_red {
  color: rgb(93, 23, 21);
  background: rgb(255, 226, 221);
}
.tag_yellow {
  color: rgb(64, 44, 27);
  background: rgb(253, 236, 200);
}
.tag_default {
  color: rgb(50, 48, 44);
  background: rgba(227, 226, 224, 0.5);
}