@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.bg-primary {
  @apply bg-white dark:bg-slate-800
}

footer {
  @apply text-gray-600 dark:text-white
}

.btn-dark {
  @apply text-gray-600 dark:text-white
}

.project-card {
  @apply flex flex-col m-3 rounded-xl w-full
          transition duration-300 transform border border-gray-300
          hover:scale-105
          hover:shadow-lg
          dark:border-gray-200/50
          dark:hover:shadow-gray-400/40

          hover:text-blue-600
}

.header-layout {
  
}

.tag-gap {
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}
.tag_orange {
  color: rgb(73, 41, 14);
  background: rgb(250, 222, 201);
}
.tag_green {
  color: rgb(28, 56, 41);
  background: rgb(219, 237, 219);
}
.tag_blue {
  color: rgb(24, 51, 71);
  background: rgb(211, 229, 239);
}
.tag_purple {
  color: rgb(65, 36, 84);
  background: rgb(232, 222, 238);
}
.tag_gray {
  color: rgb(50, 48, 44);
  background: rgb(227, 226, 224);
  
  @apply ring-gray-500/10 bg-gray-50 text-gray-600 
}
.tag_pink {
  color: rgb(93, 23, 21);
  background: rgb(255, 226, 221);
}
.tag_red {
  color: rgb(93, 23, 21);
  background: rgb(255, 226, 221);
}
.tag_yellow {
  color: rgb(64, 44, 27);
  background: rgb(253, 236, 200);
}
.tag_default {
  color: rgb(50, 48, 44);
  background: rgba(227, 226, 224, 0.5);
}

.about-me-bg-left{
  background: linear-gradient(
    to right, 
    rgb(230 218 206) 0%,
    rgb(230 218 206) 33%,
    white 33%,
    white 100%
  );
}

.business-card{
  border-radius: var(--rd,5px);
  /* box-shadow: var(--shd,0 1px 4px rgba(0,0,0,.6)); */
  box-shadow: var(--shd, -5px 5px 20px -2px rgba(0,0,0,.6));
  height: auto;
  width: 375px;
  background: rgba(244,236,230);
}

.business-card-photo {
  height: 235px;
  width: 205px;
  margin: 43px 0px 34px 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.business-card-name {
  width: 277px;
  line-height: 1.2em;
  text-align: center;
  font-size: 27px;
  font: normal normal bold 27px/1.4em poppins-semibold,poppins,sans-serif;
  color: rgb(0,0,0);
  margin: 0px 0px 25px 0;
  margin-left: auto;
  margin-right: auto;
}

.business-card-dash {
  width: 50px;
  height: 5px;
  background: rgb(0,80,255);
  margin: 0px 0px 25px 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.business-card-occupation {
  width: 277px;
  line-height: 1.2em;
  text-align: center;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 17px;
  letter-spacing: 0.25em;
  margin: 0px 0px 51px 0;
  margin-left: auto;
  margin-right: auto;
}

.business-card-bottom {
  background: white;
  height: 25px;
}
.business-card-icons {
  position: relative;
  margin: 14px 0px 14px 0;
}

.about-me-message {
  --min-height: 150px;
  height: auto;
  width: 485px;
}